<mat-toolbar color="primary">
    <span class ="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink ="/NewsFeed" routerLinkActive="mat-accent">Muro</a>
      </li>
      <li>
        <a mat-button routerLink="/Practices" routerLinkActive="mat-accent" >Prácticas</a>
      </li>
      <li>
          <a mat-button routerLink ="/Inventory" routerLinkActive="mat-accent" [matMenuTriggerFor]="menu">Inventario</a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/Search">Buscar</button>
            <button mat-menu-item routerLink="/Check">Consultar</button>
          </mat-menu>
      </li>
      <li>
          <a id="logout" mat-button routerLink ="/MyGroups" routerLinkActive="mat-accent">Mis Grupos</a>
      </li>
      <li>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Profesora Leticia
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-row>
              <a mat-button routerLink ="/MyGroups" routerLinkActive="mat-accent">Logout</a>
            </mat-action-row>
            <mat-action-row>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
    </ul>
</mat-toolbar>
