<mat-toolbar color="primary">
    <span class ="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink ="/NewsFeed" routerLinkActive="mat-accent">Muro</a>
      </li>
      <li>
          <a mat-button routerLink ="/Practices" routerLinkActive="mat-accent">Prácticas</a>
      </li>
      <li>
          <a mat-button routerLink ="/Inventory" routerLinkActive="mat-accent">Inventario</a>
      </li>
      <li>
          <a mat-button routerLink ="/MyGroups" routerLinkActive="mat-accent">Mis Grupos</a>
      </li>
    </ul>
</mat-toolbar>
