ul {
  list-style:none;
  padding: 0;
  margin:0;
}
a{
  text-decoration: none;
  color:black;
}
ul{
  display:flex;
}
mat-accordion{
  background: orange;
}
mat-expansion-panel{
  position: fixed;
  margin-left:auto;
  margin-right:0;
}
mat-action-row{
  margin-left:0;
  margin-right:auto;
}

