<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="ELEMENT_DATA">

      <!-- Unidades Column -->
      <ng-container matColumnDef="Unidades">
        <th mat-header-cell *matHeaderCellDef> Unidades </th>
        <td mat-cell *matCellDef="let element"><div id="Espaciado"> {{element.Unidades}} </div></td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad (gr/L) </th>
        <td mat-cell *matCellDef="let element"><div id="Espaciado"> {{element.Cantidad}} </div></td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"><div id="Espaciado" align="justify"> {{element.Nombre}} </div></td>
      </ng-container>

      <!--Color Column-->
      <ng-container matColumnDef="Etiqueta">
        <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
        <td mat-cell *matCellDef="let element"> <svg width= "50" height = "50"> <rect width = "50" height = "50" class="square" [style.fill] = element.Etiqueta > </rect> </svg> </td>
      </ng-container>

      <!-- NumBodega Column -->
      <ng-container matColumnDef="NumBodega">
        <th mat-header-cell *matHeaderCellDef> # Bodega </th>
        <td mat-cell *matCellDef="let element"><div id="Espaciado"> {{element.NumBodega}} </div></td>
      </ng-container>

      <!-- NumLab Column -->
      <ng-container matColumnDef="NumLab">
        <th mat-header-cell *matHeaderCellDef> # Lab </th>
        <td mat-cell *matCellDef="let element"><div id="Espaciado"> {{element.NumLab}} </div></td>
      </ng-container>

      <!-- Observaciones Column -->
      <ng-container matColumnDef="Observaciones">
        <th mat-header-cell *matHeaderCellDef> # Observaciones </th>
        <td mat-cell *matCellDef="let element"><div id="Espaciado" align="justify"> {{element.Observaciones}} </div></td>
      </ng-container>

      <!-- PrepaProfe Column -->
      <ng-container matColumnDef="PrepaProfe">
        <th mat-header-cell *matHeaderCellDef> Prepa/Profe </th>
        <td mat-cell *matCellDef="let element"> {{element.PrepaProfe}} </td>
      </ng-container>
      <!-- Editar Column-->
      <ng-container matColumnDef="Editar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element"> <button *ngIf="element.Editar" mat-button #editButton (click)="createService.onCreate(editButton,color,element._id,urlType)" name="editButton"><img src="https://img.icons8.com/material-rounded/24/000000/edit.png"></button> </td>
      </ng-container>

      <!-- delete icon -->
      <ng-container matColumnDef="Borrar">
          <th mat-header-cell *matHeaderCellDef> Borrar </th>
          <td mat-cell *matCellDef="let element"> <button *ngIf="element.Borrar" mat-button #eraseButton (click) ="createService.onDelete(color,element._id,urlType)" > <img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"> </button>   </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button *ngIf="urlType==='Check'" class="addButton" name ="addButton" mat-button #addButton (click)="createService.onCreate(addButton,color,'none',urlType)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></button>
  </div>
<button *ngIf="urlType==='Search'" class="addButton" name ="addButton" mat-button #addButton (click)="createService.onCreate(addButton,color,'none',urlType)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg> </button>
