<div class="square"> </div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Reactivos
      </mat-panel-title>
      <mat-panel-description>
        Sustancias del laboratorio, quimicos...
      </mat-panel-description>
    </mat-expansion-panel-header>
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                1.A Volátiles
              </mat-panel-title>
              <mat-panel-description>
                Materiales sensibles al ambiente
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-table color="yellow"></app-table>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 1.B Sales
                </mat-panel-title>
                <mat-panel-description>
                  Sales binarias, ternarias...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-table color = "green"></app-table>
              <!--> Here goes the chart <!-->
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    1.C Ácidos
                  </mat-panel-title>
                  <mat-panel-description>
                    Acidos minerales, sulfónicos, carboxílicos...
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-table color = "cyan"></app-table>
                <!-->Here goes the chart<!-->
              </mat-expansion-panel>
        </mat-accordion>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Materiales
      </mat-panel-title>
      <mat-panel-description>
        Equipo tecnológico del laboratorio
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            2.A Vidrio
          </mat-panel-title>
          <mat-panel-description>
            Materiales de vidrio
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-table color = "blue"></app-table>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             2.B Otros
            </mat-panel-title>
            <mat-panel-description>
              Otros...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-table color = "orange"></app-table>
          <!--> Here goes the chart <!-->
        </mat-expansion-panel>
    </mat-accordion>
 </mat-expansion-panel>

 <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Mobiliario
    </mat-panel-title>
    <mat-panel-description>
      Sillas, mesas...
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-table color = "gray"></app-table>
   <!--> Here goes the chart <!-->

</mat-expansion-panel>
</mat-accordion>
