<div class="square"> </div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Reactivos
      </mat-panel-title>
      <mat-panel-description>
        Sustancias del laboratorio, quimicos...
      </mat-panel-description>
    </mat-expansion-panel-header>
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                1.A Volátiles
              </mat-panel-title>
              <mat-panel-description>
                Materiales sensibles al ambiente
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-table></app-table>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 1.B Sales
                </mat-panel-title>
                <mat-panel-description>
                  Sales binarias, ternarias...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!--> Here goes the chart <!-->
              <button class="addButton" name ="addButton" mat-button #addButton (click)="createService.onCreate(addButton)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></button>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    1.C Ácidos
                  </mat-panel-title>
                  <mat-panel-description>
                    Acidos minerales, sulfónicos, carboxílicos...
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-->Here goes the chart<!-->
                <button class="addButton" name ="addButton" mat-button #addButton (click)="createService.onCreate(addButton)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></button>
              </mat-expansion-panel>
        </mat-accordion>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Materiales
      </mat-panel-title>
      <mat-panel-description>
        Equipo tecnológico del laboratorio
      </mat-panel-description>
    </mat-expansion-panel-header>
 </mat-expansion-panel>

 <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Mobiliario
    </mat-panel-title>
    <mat-panel-description>
      Sillas, mesas...
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>
</mat-accordion>
