div{
  text-align: center;
}
#SearchMaterial{
  text-align:left;
}
.no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay
{
  background-color: transparent;
}
img{
  width: 100%;
  height: auto;
}
.contenedora{
  margin-bottom: 50px;
}
#container{
  background-color:#FFC107;
}