<mat-toolbar color="primary">
    <span class ="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink ="/NewsFeed" routerLinkActive="mat-accent">Muro</a>
      </li>
      <li>
        <a mat-button routerLink="/Practices" routerLinkActive="mat-accent" >Prácticas</a>
      </li>
      <li>
          <a *ngIf="isAdmin" mat-button routerLink ="/Inventory" routerLinkActive="mat-accent" [matMenuTriggerFor]="menu">Inventario</a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/Search">Buscar</button>
            <button mat-menu-item routerLink="/Check">Consultar</button>
          </mat-menu>
      </li>
      <li>
          <a id="logout" mat-button routerLink ="/MyGroups" routerLinkActive="mat-accent">Mis Grupos</a>
      </li>
      <li>
        <div id="logMenu">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{userName}}
                </mat-panel-title>
                <mat-card-content>
                  {{userType}}
                </mat-card-content>
              </mat-expansion-panel-header>
              <mat-action-row>
                <a mat-button routerLink ="/" routerLinkActive="mat-accent" (click)="onLogout()">Logout</a>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </li>
    </ul>
</mat-toolbar>
