<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <img src="assets/img/tecnologico-de-monterrey-black.png">
  <form (submit)="onLogin(loginForm)" #loginForm= "ngForm" *ngIf="!isLoading"><!--#postForm is local reference to this form-->
      <div>
        <h4>Correo</h4>
        <mat-form-field>
            <input
              matInput
              type="email"
              name = "email"
              ngModel
              required
              email
              #emailInput = "ngModel"
            >
            <mat-error *ngIf="emailInput.invalid">Por favor ingresa un email válido.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <h4>Contraseña</h4>
        <mat-form-field>
          <input
            type = "password"
            name= "password"
            ngModel
            matInput
            rows="6"
            #passwordInput="ngModel"
            required
          >
          <mat-error *ngIf="passwordInput.invalid">Por favor ingresa una contraseña válida.</mat-error>
        </mat-form-field>
      </div>
      <button id="enter"
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="!isLoading"
      >Ingresar</button>
      <button routerLink='/signup' routerLinkActive="router-link-active"
        id="register"
        mat-raised-button
        color="primary"
        *ngIf="!isLoading"
      >Registrarse</button>
      <div>
        <p>Soy:</p>
        <mat-radio-group name="iam" ngModel #studentAdminInput="ngModel" required aria-label="Soy" >
          <mat-radio-button value="estudiante">Estudiante</mat-radio-button>
          <mat-radio-button value="administrador">Administrador</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
          <a routerLink='/forgot' routerLinkActive="router-link-active" >Olvidé mi contraseña</a>
      </div>
  </form>
</mat-card>
