<img src="assets/img/tecnologico-de-monterrey-black.png">
<style>
.contenedora{
  text-align: center
}
  .contenedora div{border:0px;
  width:350px; height: 250px;
  display: inline-block;
  }
</style>

<div class="contenedora">
  <h1><br>Inventario de laboratorio de Química</h1>

<div>
        <mat-form-field>
          <input matInput placeholder="Buscar">
        </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Reactivos</mat-label>
    <mat-select>
      <mat-option *ngFor="let reactive of reactives" [value]="reactive">
        {{reactive}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Materiales</mat-label>
    <mat-select>
      <mat-option *ngFor="let material of materials" [value]="material">
        {{material}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-label>Mobiliario</mat-label>
    <mat-select>
      <mat-option *ngFor="let furniture of furnitures" [value]="furniture">
        {{furniture}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

