<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <img src="assets/img/tecnologico-de-monterrey-black.png" style=";margin-left: 12%;">
  <form (submit)="onSignup(loginForm)" #loginForm= "ngForm" *ngIf="!isLoading"><!--#postForm is local reference to this form-->
    <div>
        <h4>Nombre</h4>
        <mat-form-field>
          <input
              matInput
              name = "name"
              ngModel
              required
              #nameInput = "ngModel"
            >
            <mat-error *ngIf="nameInput.invalid">Por favor ingresa un nombre válido.</mat-error>
        </mat-form-field>
    </div>
    <div>
      <h4>Apellido</h4>
      <mat-form-field>
        <input
            matInput
            name = "last"
            ngModel
            required
            #lastInput = "ngModel"
          >
          <mat-error *ngIf="lastInput.invalid">Por favor ingresa un apellido válido.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <h4>Correo</h4>
      <mat-form-field>
        <input
          matInput
          type="email"
          name = "email"
          ngModel
          required
          email
          #emailInput = "ngModel"
          placeholder="Ej:A01423629@itesm.mx"
        >
        <mat-error *ngIf="emailInput.invalid">Por favor ingresa un email válido.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <h4>Contraseña</h4>
      <mat-form-field>
        <input
          name= "password"
          ngModel
          matInput
          type="password"
          rows="6"
          #passwordInput="ngModel"
          required
          placeholder="Ej. A#*/Gw45"
        >
        <mat-error *ngIf="passwordInput.invalid">Por favor ingresa una contraseña válida.</mat-error>
      </mat-form-field>
    </div>
      <div>
        <h4>Confirmar Contraseña</h4>
        <mat-form-field>
          <input
            name= "confirmationPassword"
            ngModel
            type="password"
            matInput
            rows="6"
            #passwordConfirmationInput="ngModel"
            required
          >
          <mat-error *ngIf="passwordConfirmationInput.invalid">Por favor ingresa la misma contraseña.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <h4>Género</h4>
        <mat-form-field>
          <mat-label>Seleccionar</mat-label>
          <mat-select name = "genre" ngModel #genreInput="ngModel" required>
            <mat-option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <p>Soy:</p>
        <mat-radio-group name="iam" ngModel #studentAdminInput="ngModel" required aria-label="Soy" >
          <mat-radio-button value="estudiante">Estudiante</mat-radio-button>
          <mat-radio-button value="administrador">Administrador</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <h4>Llave Personal</h4>
          <mat-form-field>
            <input
              type = "password"
              name= "key"
              ngModel
              matInput
              rows="6"
              #keyInput="ngModel"
              required
              placeholder="Ej. 1352-3135-1390-6781"
            >
            <mat-error *ngIf="keyInput.invalid">Por favor ingresa una llave válida.</mat-error>
          </mat-form-field>
        </div>
      <button
        id="register"
        type="submit"
        mat-raised-button
        color="primary"
        *ngIf="!isLoading"
      >Registrar</button>
      <div>
          <a routerLink='' routerLinkActive="router-link-active" >Ya tengo una cuenta.</a>
      </div>
  </form>
</mat-card>
<!--misa is commenting-->
